@model List<Patient_Portal.ViewModels.PatientAilmentDetailViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h3>Ailment:</h3>
                @Html.DisplayFor(modelItem => item.AilmentName)
            </td>   
        </tr>
    }
</table>

<table class="table">
    <tr>
        <td>
            @Html.ActionLink("Medication details", "MedDetails", new { patientId = Model[0].IdPatient })
        </td>
        <td>
            @Html.ActionLink("Procedure details", "ProcedureDetails", new { patientId = Model[0].IdPatient })
        </td>
        <td>
            @Html.ActionLink("Main Page", "Index" )
        </td>
    </tr>
</table>