@model Patient_Portal.Models.PatientProfile

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
  
    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.animalHabitatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animalSpecies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.animal)
            </td>
            
        </tr>
    }*@
</table>