@model List<Patient_Portal.ViewModels.PatientMedDetailVewModel>

@{
    ViewBag.Title = "MedDetails";
}

<h2>Medication Details</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h3>Ailment:</h3>
                @Html.DisplayFor(modelItem => item.MedicationName)
            </td>
            <td>
                <h3>Ailment:</h3>
                @Html.DisplayFor(modelItem => item.MedicationPrice)
            </td>
            <td>
                <h3>Ailment:</h3>
                @Html.DisplayFor(modelItem => item.MedicationDescription)
            </td>
        </tr>
    }
</table>

<table>
    <tr>
        <td>
            @Html.ActionLink("Main Page", "Index")
        </td>
    </tr>
</table>